.historyContainer {
  width: 100%; /* 110% is unnecessary */
  height: fit-content;
  margin-left: 0; /* Negative margin is not needed */
  margin-top: 0;

  .historyHeader {
    width: 100%;
    height: 42.5vh;
    overflow: hidden;
    background-color: white;
    
    box-shadow: 0 5px 5px rgb(81, 79, 79);
    border-radius: 10px;
    .headerBody {
      width: 100%;
      height: 85%;
      display: flex;
  //    background-color: aquamarine;
    }

    .historyStatsContainer {
      width: 60%;
      height: 90%;
  //    border: 1px solid rgb(161, 11, 230);
     margin-left: 2.5%;  
     .historyCard {
      display: inline-block;
      width: 30%;
      height: 7.5vh;
      margin-left: 20%;
      margin-top: 4%;
      border-radius: 5px;
      overflow: hidden;
      background-color: white;
      box-shadow: 0 5px 5px rgb(128, 128, 128);

        .cardTitle {
          margin-left: 2.5%;
          text-align: center;
          .textTitle {
            font-size: x-large;
          }
          .nbrOrders {
            font-size:larger;
            font-weight: bold;
            margin-top: 4%;
          }
        }
     }
      .upperHistoryStatsContainer {
        width: 100%;
        height: 70%;
       
       // border: 2px solid brown;

        .historyCardUp {
         display: block;
          width: 30%;
          height: 7.5vh;
          margin-left: 35%;
          margin-top: 1%;
          border-radius: 5px;
          overflow: hidden;
          background-color: white;
          box-shadow: 0 5px 5px rgb(128, 128, 128);
    
            .cardTitle {
              margin-left: 2.5%;
              text-align: center;
              .textTitle {
                font-size: x-large;
              }
              .nbrOrders {
                font-size:larger;
                font-weight: bold;
                margin-top: 4%;
              }
            }
        }
      }
      .downHistoryStatsContainer {
        width: 100%;
        height: 30%;
       // background-color: pink;

        .historyCardDown {
          width: 30%;
          height: 7.5vh;
          margin-left: 35%;
          margin-top: 3%;
          border-radius: 5px;
          overflow: hidden;
          background-color: white;
          box-shadow: 0 5px 5px rgb(128, 128, 128);
    
            .cardTitle {
              margin-left: 2.5%;
              text-align: center;
              .textTitle {
                font-size: x-large;
              }
              .nbrOrders {
                font-size:larger;
                font-weight: bold;
                margin-top: 4%;
              }
            }
        }
      }
     
    }
    .pieChartContainer {
      width: 40%;
      height: 90%;
      margin-top: 2%;
    // border: 1px solid rgb(230, 22, 11);
    }

    .headerTitle {
      width: 100%;
      height: 15%;
      text-align: center;
      p {
        font-size: xx-large;
      }
    }
  }

  .historyBody {
    width: 100%; 
   height: fit-content;
    .getHistoryBtn {
      cursor: pointer;
      text-align: center;
      width: 10%;
      height: 8vh;
      background-color: orange;
      border-radius: 5px;
   //   border: 2px solid pink;
      margin-left: 40%;
      margin-top: 5%;
    //  border: 2px solid red;
      span {
        font-size: x-large;
      }
    }
    .getHistoryBtn:hover {
      background-color: rgb(255, 140, 0);
    }

    .searchAndHistoryContainer {
      width: 100%;
      height: fit-content;
    }


    .serachBarHistory {
   
      #searchInput {
      //  width: 80%;
      margin-top: 50px;
        margin-left:20%;
        width: 60%;
        border-color: black;
      }
    }


    .historyOrdersTable {
      width: 90%;
      margin-top: 3%;
      margin-left: 1%;
      border-collapse: collapse; /* This removes gaps between table borders */
      z-index: 100;
      .historyOrdersTableHeading {
        color: orange;
      }
    
    
      /* Add borders around table cells */
      .historyTableDataFlavourOrders,
      .historyTableDataOrders,
      .historyTableHeadOrders {
      //  border: 1px solid black; /* Creates a solid black border around cells */
        text-align: center;
        padding: 10px 10px;
        
        @media(max-width: 768px) {
          font-size: 15px;
          padding: 10px 10px;
        }
      }
    
      .historyTableDataOrdersOperation {
      //  background-color: aquamarine;
    
        .historyViewBtn {
          margin-left: 45%;
        }
    
        .completeOrder {
          color: rgb(19, 192, 68);
          margin-left: 10%;
        }
      }
    
      .historyTableRowOrderProducts {
        height: 8vh;
       // border: 2px solid rgba(255, 179, 0, 0.93);
      }
    
    
    
    
    
      .tableDataFlavourOrders {
        width: 20%;
        text-align: center;
      }
    
      .historyOrdersTableHeading {
        text-align: left;
        font-size: 17px;
    
        .historyTableHeadOrders {
          /* Optional styling for the last table header */
          &::last-child {
            text-align: center;
          }
        }
      }
    }

    

    .historyOrderCardContainer {
      width: 100%;
      height: 110vh;
      top: 0%;
      left: 13.6%;
      position: absolute;
      background-color: rgba(158, 158, 158, 0.7); /* Semi-transparent background using rgba */
     // border: 2px solid orange;
      z-index: -150; /* Only when hidden */
      transform: scale(0.5);
      transition: opacity 0.3s, transform 0.3s;
      display: inline-block;
      box-shadow: 0 15px 15px gray;
      position: fixed;
    }

    .historyOrderCardContainer.visible {
      z-index: 200; /* Non-negative z-in
      dex so the children can be visible */
     // opacity: 0.7;
    
      transform: scale(1);
    }

    .historyOrderCard {
      position: relative;
      width: 65%;
      height: 900px;
      top: 5%;
      left: 10%;
      background-color: rgb(255, 255, 255); /* Ensure the background is opaque */
      border: 2px solid ;
      border-radius: 15px;
      display: inline-block;
      box-shadow: 0 15px 15px gray;
      overflow-y: auto;
    }
    

    .historyProductsTable {
      width: 100%;
      margin-top: 10%;
     // background-color: paleturquoise;
     // margin-left: 5%;
      border-collapse: collapse; /* This removes gaps between table borders */
      z-index: 100;
      .productsTableHeading {
        color: orange;
      }
    
      /* Add borders around table cells */
      .tableDataProductsFlavours,
      .tableDataProducts,
      .tableHeadProducts {
      //  border: 1px solid black; /* Creates a solid black border around cells */
        text-align: center;
        padding: 10px 10px;
        
        @media(max-width: 768px) {
          font-size: 15px;
          padding: 10px 10px;
        }
      }
    
      .tableRowOrderProducts {
        height: 8vh;
       // border: 2px solid rgba(255, 179, 0, 0.93);
      }
    
    
    
    
    
      .tableDataProductsFlavours {
        width: 23%;
        text-align: center;
      }
    
      .productsTableHeading {
        text-align: left;
        font-size: 17px;
    
        .tableHeadProducts {
          /* Optional styling for the last table header */
          &::last-child {
            text-align: center;
          }
        }
      }
    }

    .historyOrderTotalPrice {
      margin-left: 80.5%;
      margin-top: 5%;
      margin-bottom: 2%;
      font-size: x-large;
      span {
        color: orangered;
      }
    }

  }

}

.noHistoryYet {
  text-align: center;
  margin-top: 20%;
}